<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <form>로그인한 경우에 찜버튼 활성화(구현X)</form>
    </div>
  </body>
</html>
