<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <form action="/users/like" method="get">
        <input type="text" name="cocktail" value="<%= cocktail._id %>" style="display: none" />
        <% if(isAuthenticated) { %>
        <button type="submit">Like</button>
        <% } %>
      </form>
      <p></p>
      <form action="/users/like/show" method="get">
        <% if(isAuthenticated) { %>
        <button type="submit">Show Like</button>
        <% } %>
      </form>
    </div>
  </body>
</html>
